<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>iLearningV1</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    
  </welcome-file-list>
  
  
  <!-- spring 编码过滤器-->
  <filter>
  	<filter-name>code</filter-name>
  	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
 	<init-param>
		<param-name>encoding</param-name>
		<param-value>UTF-8</param-value>
	</init-param>
 	
  </filter>
  
  <filter-mapping>
  	<filter-name>code</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping> 
  
  <context-param>
  <param-name>contextConfigLocation</param-name>
  <param-value>WEB-INF/applicationContext.xml</param-value>
  </context-param>
  
  <listener>
  
  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  
  </listener>
  
   <!-- 登录验证 -->
  <filter>
  	<filter-name>login</filter-name>
  	<filter-class>com.huasoft.ilearning.util.LoginFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>login</filter-name>
  	<url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>login</filter-name>
  	<url-pattern>*.action</url-pattern>
  </filter-mapping>
  
  <!-- struts2核心控制器 -->
  <filter>
  	<filter-name>sturt2</filter-name>
  	<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>sturt2</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
</web-app>